.ClubAdminProfilePage {
  font-family: sans-serif;
  max-height: 100px;
  display: grid;
  width: 100% ;
  
  
}
.adminchild{
display: inline-block;
padding: 2rem;

border-radius: 10 rem;
}

.ClubProfileImgContainer {
  /* display: flex; */
  /* display: inline-block;
  vertical-align: top;
  align-items: padding-right; */
  
  width: 500px;
  
}

.img2 {
  position: relative;
  height:40vh; 
  width: auto;
  border-radius: 60px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
}
.viewdesc{
  background-color: #FFE498;
  width:100%;
  overflow-x:auto;
  height: 100px;
  overflow-y: scroll;
  white-space: normal;
  border-radius: 10px;
  scroll-behavior: smooth;
  scrollbar-shadow-color: black;
}
.cardcont{
  display: inline;
  margin-left: 10%;
  float:right;
}
.evenCard{
  height: 300px;
  overflow-y:scroll;
  width:fit-content; 
  
  
 
}
.card{
  width: 300px;
}
.p {
  /* display: inline-block; */
  background-color: #FFE498;
}
.info {
  height: 100vh;
  
  width: 30%;
  
  display:inline-table;
}
.profileEditButton {
  width: 80px;
  padding: 5px;
  background-color: #7ba4d9;
  outline: none;
  border: 1px solid #7ba4d9;
  box-shadow: 2px 2px 2px #3f3f3f;
  float: right;
  color: white;
}

.profileEditButton:hover {
  box-shadow: 2px 2px 3px;
}

.profileEditButton:active {
  box-shadow: 1px 1px 3px;
}
.profileContactInfo {
  margin-top: 10px;
}

.clubEditDecription {
  resize: none;
  width: 100%;
  margin-right: 10%;
  height: 100px;
  overflow-y: scroll;
}
