.ClubAdminProfilePage {
  font-family: sans-serif;
  max-height: 100px;
  display: grid;
  width: 100% ;
  
  
}
.adminchild{
display: inline-block;
padding: 2rem;

border-radius: 10 rem;
}

.ClubProfileImgContainer {
  /* display: flex; */
  /* display: inline-block;
  vertical-align: top;
  align-items: padding-right; */
  
  width: 100%;
  
}

.img2 {
  position: relative;
  height:40vh; 
  width: 90%;
  margin: 0 auto;
  
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
}
.viewdesc{
  background-color: #FFE498;
  width:90%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-x:auto;
  height: 150px;
  margin-top: 50px;
  overflow-y: scroll;
  white-space: normal;
  border-radius: 10px;
  
  
}
.viewdesc::-webkit-scrollbar{
  border-radius: 2rem;
  display: none;
}
.cardcont{
  display: inline;
  margin-left: 10%;
  float:right;
  margin-right: 3%;
  padding: 2rem;
  background-color: #002A5C;
  color: white;
  

}
.evenCard{
  height: 300px;
  overflow-y:scroll;
  width:fit-content; 
  
  
 
}
.card{
  width: 300px;
}
.p {
  /* display: inline-block; */
  background-color: #FFE498;
}
.info {
  height: 370px;
  background-color: #002A5C;
  width: 300px;
  padding: 2rem;
  margin-left: 3%;
  display:inline-table;
  float: left;
  color: white;
}
.profileEditButton {
  width: 80px;
  padding: 5px;
  background-color: #7ba4d9;
  outline: none;
  border: 1px solid #7ba4d9;
  box-shadow: 2px 2px 2px #3f3f3f;
  
  height: 100%;
  
  float: right;
  color: white;
}

.profileEditButton:hover {
  box-shadow: 2px 2px 3px;
}

.profileEditButton:active {
  box-shadow: 1px 1px 3px;
}
.profileContactInfo {
  margin-top: 10px;
}

.clubEditDecription {
  resize: none;
  width: 100%;
  margin-right: 10%;
  
  overflow-y: scroll;
  height: 150px;
  margin-top: 20px;
}
